.transactionListContainer {
  max-width: 400px;
  padding: 30px;
  font-size: 1rem; }

.transactionListDay {
  padding-bottom: 15px; }

.transactionListDayDate {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 0.5em; }

.transactionListRow {
  font-size: 21px;
  display: flex;
  padding-bottom: 0.3em; }

.transactionListRowCat {
  flex: 5;
  color: #c4c5c6; }

.transactionListRowAmt, .transactionListRowAmtPositive {
  flex: 3;
  font-weight: 600;
  text-align: right; }

.transactionListRowAmtPositive {
  color: #49C06C; }
