.transactionListContainer::-webkit-scrollbar {
  background: transparent;
  width: 5px; }

.transactionListContainer::-webkit-scrollbar-track {
  background: #f5f6f6; }

.transactionListContainer::-webkit-scrollbar-thumb {
  background-color: #d9dbdd; }

.transactionListRowCat {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.transactionListContainer {
  padding: 40px 50px;
  font-size: 1rem;
  flex: 1 0 auto;
  min-width: 400px;
  overflow-y: auto;
  height: 100vh;
  box-sizing: border-box; }

.transactionListHeading {
  font-size: 27px;
  font-weight: 600;
  padding-bottom: 0.75em; }

.transactionListDay {
  padding-bottom: 15px;
  border-top: 3px solid #f5f6f6;
  padding-top: 1em; }

.transactionListDayDate {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 0.5em; }

.transactionListRow {
  font-size: 21px;
  display: flex;
  padding-bottom: 0.3em; }

.transactionListRow:hover .transactionListRowDelete {
  color: #EB6D6D; }

.transactionListRow:hover .transactionListRowDeleteIcon {
  opacity: 1; }

.transactionListRowDelete {
  flex-basis: 0;
  margin-left: 10px;
  text-align: center;
  position: relative; }

.transactionListRowDeleteIcon {
  position: absolute;
  opacity: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%; }

.transactionListRowDeleteIcon svg {
  fill: #d9dbdd; }

.transactionListRowDeleteIcon:hover {
  cursor: pointer; }

.transactionListRowDeleteIcon:hover svg {
  fill: #EB6D6D; }

.transactionListRowCat {
  flex: 5;
  color: #9fa5a9;
  font-weight: 300; }

.transactionListRowAmt, .transactionListRowAmtPositive {
  flex: 3;
  font-weight: 600;
  text-align: right; }

.transactionListRowAmtPositive {
  color: #49C06C; }
