@import '../../global.scss';

$min-width: 400px;

.transactionListContainer {
  @extend %thinScrollbar;

  padding: 40px 50px;
  font-size: 1rem;
  flex: 0 1 $column-max-width;
  min-width: $min-width;
  overflow-y: auto;
  height: 100vh;
  box-sizing: border-box;
}

.transactionListHeading {
  font-size: 27px;
  font-weight: $weight-bold;
  padding-bottom: 0.75em;
}

.transactionListDay {
  padding-bottom: 15px;
  border-top: 3px solid add-tint($palette-text, 95%);
  padding-top: 1em;
}

.transactionListDayDate {
  font-size: 17px;
  font-weight: $weight-bold;
  padding-bottom: 0.5em;
}

.transactionListRow {
  font-size: 21px;
  display: flex;
  padding-bottom: 0.3em;
  &:hover .transactionListRowDelete {
    color: $palette-negative;
  }
  &:hover .transactionListRowDeleteIcon {
    opacity: 1;
  }
}

.transactionListRowDelete {
  flex-basis: 0;
  margin-left: 10px;
  text-align: center;
  position: relative;
}

.transactionListRowDeleteIcon{
  position: absolute;
  opacity: 0;
  // transition: opacity 0.1s;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;

  svg {
    fill: add-tint($palette-darkgray, 80%);
  }

  &:hover {
    cursor: pointer;

    svg {
      fill: $palette-negative;
    }
  }
}

.transactionListRowCat {
  @extend %truncateMe;

  flex: 5;
  color: add-tint($palette-text, 50%);
  font-weight: $weight-light;
}

.transactionListRowAmt {
  flex: 3;
  font-weight: $weight-bold;
  text-align: right;
}

.transactionListRowAmtPositive {
  @extend .transactionListRowAmt;
  color: $palette-cash;
}
