.transactionListContainer {
  max-width: 400px;
  padding: 30px;
  font-size: 1rem; }

.transactionListDay {
  padding-bottom: 15px; }

.transactionListDayDate {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 0.5em; }

.transactionListRow {
  font-size: 21px;
  display: flex;
  padding-bottom: 0.3em; }

.transactionListRow:hover .transactionListRowDelete {
  color: #EB6D6D; }

.transactionListRow:hover .transactionListRowDeleteIcon {
  opacity: 1; }

.transactionListRowDelete {
  flex-basis: 22px;
  margin-left: 10px;
  text-align: center; }

.transactionListRowDeleteIcon {
  opacity: 0;
  transition: opacity 0.1s;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%; }

.transactionListRowDeleteIcon svg {
  fill: #d8d8d9; }

.transactionListRowDeleteIcon:hover {
  cursor: pointer; }

.transactionListRowDeleteIcon:hover svg {
  fill: #EB6D6D; }

.transactionListRowCat {
  flex: 5;
  color: #9d9fa0;
  font-weight: 300; }

.transactionListRowAmt, .transactionListRowAmtPositive {
  flex: 3;
  font-weight: 600;
  text-align: right; }

.transactionListRowAmtPositive {
  color: #49C06C; }
