.captureOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.25); }

.captureContainer {
  margin-bottom: 25px;
  position: absolute;
  top: 25vh;
  left: 50%;
  transform: translateX(-50%); }

.capture {
  display: inline-block;
  padding: 20px 28px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  border: 1px solid #898b8d;
  border-radius: 10px;
  width: 500px;
  color: #3B3E41; }

.tips {
  text-align: right;
  font-size: 12.6px;
  color: #ccc; }

.dateDisplay {
  font-size: 21px;
  font-weight: 700;
  text-align: right; }

.datePicker {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 5px; }

.datePickerCell, .datePickerCellSelected {
  box-sizing: border-box;
  display: flex;
  flex-basis: 12.5%;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 14px;
  font-weight: 600;
  color: #9d9fa0;
  background: #f7f7f7;
  border: 1px solid #bcbdbe;
  border-radius: 5px; }

.datePickerCell + .-active, .datePickerCellSelected + .-active {
  color: #3B3E41;
  background: #fff;
  border: 2px solid #5299e0;
  box-shadow: 0 0 5px #ccc; }

.datePickerCellSelected {
  border: 3px solid #5299e0;
  background: #fff;
  color: #3B3E41;
  box-shadow: 0 0 5px #bbb; }

.pickersContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px; }

.categoryPicker, .amountPicker {
  flex: 1;
  display: flex;
  flex-direction: column; }

.categoryPicker label, .amountPicker label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px; }

.categoryPicker input, .amountPicker input {
  box-sizing: border-box;
  border-radius: 5px;
  border: 3px solid #d0d1d1;
  font-size: 28px;
  width: 94%;
  padding: 10px 12px;
  font-family: "Open Sans";
  color: #3B3E41; }

.categoryPicker input:focus, .amountPicker input:focus {
  outline: none;
  border-color: #5299e0;
  box-shadow: inset 0 0 3px #ccc, 0 0 5px #ccc; }

.amountPicker {
  text-align: right; }

.amountPicker input {
  margin-left: auto;
  text-align: right; }

.categorySelect {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  cursor: pointer; }

.categorySelectItem, .selectedItem {
  font-weight: 600;
  padding: 3px 15px;
  border-radius: 3px; }

.selectedItem {
  background: #5299e0;
  color: #fff; }
