.thinScrollbar::-webkit-scrollbar {
  background: transparent;
  width: 5px; }

.thinScrollbar::-webkit-scrollbar-track {
  background: #f5f6f6; }

.thinScrollbar::-webkit-scrollbar-thumb {
  background-color: #d9dbdd; }

.sidebar {
  flex: 0 0 250px;
  background: #3f4a53;
  font-size: 1rem; }

ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0; }

li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
  list-style: none; }

a {
  text-decoration: none;
  color: #656e75;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.1s, color 0.1s;
  background: transparent;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

a:hover {
  background: #49535c;
  color: #9fa5a9; }

a.selected {
  background: #5D758E;
  color: white; }
