.thinScrollbar::-webkit-scrollbar {
  background: transparent;
  width: 5px; }

.thinScrollbar::-webkit-scrollbar-track {
  background: #eee; }

.thinScrollbar::-webkit-scrollbar-thumb {
  background-color: #d8d8d9; }

.sidebar {
  flex: 0 0 250px;
  background: #3B3E41; }

ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0; }

li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh;
  list-style: none; }

a {
  text-decoration: none;
  color: #626567;
  font-size: 21px;
  font-weight: bold;
  transition: background 0.1s, color 0.1s;
  background: transparent; }

a:hover {
  background: #45484b;
  color: #9d9fa0; }

a.selected {
  background: #5D758E;
  color: white; }
