@import '../../global.scss';

$width: 400px;

.categorySummaryContainer {
  max-width: $width;
  padding: 30px;
}

.categorySummaryHeading {
  font-size: 27px;
  font-weight: $weight-bold;
  padding-bottom: 0.5em;
}

.categorySummaryDay {
  padding-bottom: 15px;
}

.categorySummaryDayDate {
  font-size: 17px;
  font-weight: $weight-bold;
  padding-bottom: 0.5em;
}

.categorySummaryRow {
  font-size: 21px;
  display: flex;
  padding-bottom: 0.3em;
}

.categorySummaryRowCat {
  flex: 5;
  color: mix(#fff, $palette-text, 70%);
}

.categorySummaryRowAmt {
  flex: 3;
  font-weight: $weight-bold;
  text-align: right;
}

.categorySummaryRowAmtPositive {
  @extend .categorySummaryRowAmt;
  color: $palette-cash;
}
