@import '../../global.scss';

$width: 400px;
$font-size: 27px;

.categorySummaryContainer {
  @extend .thinScrollbar;

  flex: 1;
  overflow-y: auto;
  padding: 40px 50px;
  height: 100vh;
  box-sizing: border-box;
  font-size: 1rem;
}

.categorySummaryHeading {
  font-size: 27px;
  font-weight: $weight-bold;
  padding-bottom: 0.75em;
}

.categorySummaryDay {
  padding-bottom: 15px;
}

.categorySummaryDayDate {
  font-size: 17px;
  font-weight: $weight-bold;
  padding-bottom: 0.5em;
}

.categorySummaryRow {
  font-size: $font-size;
  display: flex;
  padding-bottom: 0.3em;

  // &:nth-of-type(even) {
  //   background: hsl(0,0%,98%);
  // }
}

.categorySummaryRowCat {
  flex: 5;
  color: add-tint($palette-text, 50%);
  font-weight: $weight-light;
}

.categorySummaryRowAmt {
  flex: 3;
  font-weight: $weight-bold;
  text-align: right;
}

.categorySummaryRowAmtPositive {
  @extend .categorySummaryRowAmt;
  color: $palette-cash;
}

.totalContainer {
  margin-top: 1em;
  font-size: $font-size;
  display: flex;
  color: $palette-negative;
  font-weight: $weight-bold;
  border-top: 3px solid add-tint($palette-text, 95%);
  padding-top: 0.5em;
}

.totalLabel {
  @extend .categorySummaryRowCat;
  color: inherit;
  font-weight: inherit;
}

.total {
  @extend .categorySummaryRowAmt;
}
