.categorySummaryContainer {
  max-width: 400px;
  padding: 30px; }

.categorySummaryHeading {
  font-size: 27px;
  font-weight: 600;
  padding-bottom: 0.5em; }

.categorySummaryDay {
  padding-bottom: 15px; }

.categorySummaryDayDate {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 0.5em; }

.categorySummaryRow {
  font-size: 21px;
  display: flex;
  padding-bottom: 0.3em; }

.categorySummaryRowCat {
  flex: 5;
  color: #9d9fa0;
  font-weight: 300; }

.categorySummaryRowAmt, .categorySummaryRowAmtPositive {
  flex: 3;
  font-weight: 600;
  text-align: right; }

.categorySummaryRowAmtPositive {
  color: #49C06C; }
