@import '../../global.scss';

$width: 400px;

.categorySummaryContainer {
  @extend .thinScrollbar;

  flex: 1;
  overflow-y: auto;
  padding: 40px 50px;
  height: 100vh;
  box-sizing: border-box;
}

.categorySummaryHeading {
  font-size: 27px;
  font-weight: $weight-bold;
  padding-bottom: 0.75em;
}

.categorySummaryDay {
  padding-bottom: 15px;
}

.categorySummaryDayDate {
  font-size: 17px;
  font-weight: $weight-bold;
  padding-bottom: 0.5em;
}

.categorySummaryRow {
  font-size: 21px;
  display: flex;
  padding-bottom: 0.3em;
}

.categorySummaryRowCat {
  flex: 5;
  color: add-tint($palette-text, 50%);
  font-weight: $weight-light;
}

.categorySummaryRowAmt {
  flex: 3;
  font-weight: $weight-bold;
  text-align: right;
}

.categorySummaryRowAmtPositive {
  @extend .categorySummaryRowAmt;
  color: $palette-cash;
}
