.categorySummaryContainer::-webkit-scrollbar {
  background: transparent;
  width: 5px; }

.categorySummaryContainer::-webkit-scrollbar-track {
  background: #f5f6f6; }

.categorySummaryContainer::-webkit-scrollbar-thumb {
  background-color: #d9dbdd; }

.categorySummaryRowCat, .totalLabel {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.categorySummaryContainer {
  flex: 1 0 auto;
  min-width: 400px;
  overflow-y: auto;
  padding: 40px 50px;
  height: 100vh;
  box-sizing: border-box;
  font-size: 1rem; }

.categorySummaryHeading {
  font-size: 27px;
  font-weight: 600;
  padding-bottom: 0.75em; }

.categorySummaryDay {
  padding-bottom: 15px; }

.categorySummaryDayDate {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 0.5em; }

.categorySummaryRow {
  font-size: 21px;
  display: flex;
  padding-bottom: 0.3em; }

.categorySummaryRowCat, .totalLabel {
  flex: 5;
  color: #9fa5a9;
  font-weight: 300; }

.categorySummaryRowAmt, .categorySummaryRowAmtPositive, .total {
  flex: 3;
  font-weight: 600;
  text-align: right; }

.categorySummaryRowAmtPositive {
  color: #49C06C; }

.totalContainer {
  margin-top: 1em;
  font-size: 21px;
  display: flex;
  color: #EB6D6D;
  font-weight: 600;
  border-top: 3px solid #f5f6f6;
  padding-top: 0.5em; }

.totalLabel {
  color: inherit;
  font-weight: inherit; }
