$palette-brand: hsl(0,100%,50%);
$palette-positive: hsl(0,50%,50%);
$palette-warning: hsl(50,50%,50%);
$palette-negative: #EB6D6D;
$palette-darkgray: #3f4a53;
$palette-coolblue: #5D758E;
$palette-brightblue: hsl(210,70%,60%);
$palette-cash: #49C06C;
$palette-text: $palette-darkgray;

$weight-heavy: 700;
$weight-bold: 600;
$weight-light: 300;

$font-size-small: 14px;
$font-size-medium: 21px;
$font-size-large: 28px;

$base-font-family: 'Open Sans';

@function add-tint($color, $percentage) {
  @return mix(#fff, $color, $percentage);
}

@function add-shade($color, $percentage) {
  @return mix(#000, $color, $percentage);
}

@function add-alpha($color, $percentage) {
  $decimal: $percentage / 100%;
  $inverse: 1 - $decimal;
  @return transparentize($color, $inverse);
}

%thinScrollbar {
  &::-webkit-scrollbar {
    background: transparent;
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: add-tint($palette-darkgray, 95%);
  }

  &::-webkit-scrollbar-thumb {
    background-color: add-tint($palette-darkgray, 80%);
  }
}

%truncateMe {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
