.thinScrollbar::-webkit-scrollbar {
  background: transparent;
  width: 5px; }

.thinScrollbar::-webkit-scrollbar-track {
  background: #eee; }

.thinScrollbar::-webkit-scrollbar-thumb {
  background-color: #d8d8d9; }
