$palette-brand: hsl(0,100%,50%);
$palette-positive: hsl(0,50%,50%);
$palette-warning: hsl(50,50%,50%);
$palette-negative: #EB6D6D;
$palette-darkgray: #3B3E41;
$palette-coolblue: #5D758E;
$palette-brightblue: hsl(210,70%,60%);
$palette-text: $palette-darkgray;
// $palette-text: #616468;

$weight-heavy: 700;
$weight-bold: 600;
$weight-light: 300;

$font-size-small: 14px;
$font-size-medium: 21px;
$font-size-large: 28px;

$base-font-family: 'Open Sans';
